body{
    animation: changecolor 10s;
    animation-iteration-count: infinite;
}
@keyframes changecolor{
    0%{background: green;}
    25%{ background: blue;}
    50%{background: red;}
    75%{background: yellow;}
    100%{background: white;}
}




#board{
    height: 700px;
    width: 500px;
    margin: auto;
    border: 1px solid black;
    position: relative;
    float: left;
    clear: left;
    overflow: hidden;

}
#car{
    width: 50px;
    height: 50px;
    background: url('images/car1.jpg');
    position: absolute;
    top: 30px;
    left: 30px;
    transition: linear.4s; 
/*the transition helps with the movement of the box more smoothly --Courtesy of Alexey THANKS!*/
    
}
#up, #down, #left, #right {
/*    width: 50px;*/
/*    height: 30px;*/
/*    border: 1px solid black;*/
    padding: 10px;
    margin: 10px;
    background: lightblue;
/*    float: left;*/
}

#mycounter{
    width: 100px;
    height: 100px;
    border: 1px solid black;
/*    background: blue;*/
    margin: 20px;
    float: left;
    
}
#w1{
/*    background: red;*/
    width: 310px;
    height: 90px;
    position: absolute;
    top: 50px;
    left: 80px;
    border: 1px solid red;
}
#h1{
    border: 1px solid blue;
    height: 390px;
    width: 90px;
    position: absolute;
    top: 50px;
    left: 390px;
}
#w2{
    width: 280px;
    height: 90px;
    position: absolute;
    top: 350px;
    left: 110px;
    border: 1px solid red;
}
#h2{
    border: 1px solid blue;
    height: 260px;
    width: 80px;
    position: absolute;
    top: 350px;
    left: 30px;
}
#w3{
    width: 350px;
    height: 90px;
    position: absolute;
    top: 520px;
    left: 110px;
    border: 1px solid red; 
}